<!--

lessons.html

Free Code Camp - APIs

-->

<!DOCTYPE html>
<html> 
  <head>
      
    <title>Lessons Learned urlsh</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- http://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <!-- app's own CSS -->
    <link href="/css/styles.css" rel="stylesheet"/>
    
  </head>
  
  <body>
      
    <div class="page-header">
      <h1>Lessons Learned - URL Shortener Microservice</h1>
    </div>
    
    <div class="container">
        
      <h4>Lesson 1 - res.render()</h4>
      <DIR>
      <p>
        The fresher lesson that I learned, is the last, it caused me lots of trouble because I had problems with the <code>res.render</code> function 
        from the <code>express.js</code> library and still can't handle the problem but I solved it other way. 
      </p>
      <p>
        The thing is that I didn't managed to render other file than <code>index.html</code>, and I still don't know why it was triggering a 
        <code>this.engine is not a function</code> error. If you know why or how to solve it, I would appreciate your 
        <b><a href="http://stackoverflow.com/questions/43361109/express-js-render-error-this-engine-is-not-a-function?noredirect=1" target='_blank'>help</a></b>.
      </p>
      <p>
        I solved the issue with the help of static files (<code>app.use(express.static("public"))</code>), so, being able to acces them direcly from the url: 
        <code>https://page.c9users.io/lessons.html</code>.
      </p>
      </DIR>
      
      <h4>Lesson 2 - mongodb connecting</h4>
      <DIR>
      <p>
        Since my c9 account is free, I believe it doesn't let large sizes of files to be runed or because of security issues. I solved the "large files" 
        warning by running the next command line: <code>mongod --port 27017 --dbpath=./data --smallfiles</code> (this command is supposing that there's already 
        a "data" directory created).
      </p>
      </DIR>
      
      <h4>Lesson 3 - environnment variables</h4>
      <DIR>
      <p>
        When deveolping projects and taking them to Heroku, 
        <a href="https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-MongoDB-And-Deploying-To-Heroku" target='_blank'>in the help given by Free Code Camp</a>, 
        they didn't tell how to prepare environnement variables at Heroku, so I did a 
        <b><a href="https://devcenter.heroku.com/articles/config-vars" target='_blank'>little research </a></b>
        and it's easy (maybe that's why).
      </p>
      <p>
        You just have to edit config vars on your app’s settings tab on Dashboard (<code>go to your dashboard -> the app you want variables to be seted up -> 
        settings (in there into "Config Variables")</code>): Put the name (or key) of the variable and its value.
      </p>
      </DIR>
      
      <h4>Lesson 4 - modifying .gitignore after commiting and pushing into gitHub</h4>
      <DIR>
      <p>
        This lesson, shouldn't be named lesson because I can't understand how to manage this kind of changes. I understand that is becausethe <code>git history</code> 
        record doesn't let some things to be ignored from one moment to another even ig we do the <code>git add .</code> command.
      </p>
      <p>
        For these purposes, there are some techniques that I wasn't able to handle so, it remains a "to learn" activity. I did a little research and 
        <b><a href="http://stackoverflow.com/questions/21168846/cant-remove-file-from-git-commit" target='_blank'>this </a></b>
        is the closest that I got from the solution.
      </p>
      <p>
        Although, my half-solution was to delete git files, and "re-init" it.
      </p>
      </DIR>
      
    </div>
    
  </body>
</html>