<!--

index.html

Free Code Camp - APIs

-->

<!DOCTYPE html>
<html> 
  <head>
      
    <title></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- http://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <!-- app's own CSS -->
    <link href="/css/styles.css" rel="stylesheet"/>
    
  </head>
  
  <body>
      

    <div>
        <script>answer</script>
    </div>
    
  </body>
</html>